.elementor-3002 .elementor-element.elementor-element-fe9ba3b > .elementor-container {
    min-height: 100px;
}
.elementor-3002 .icons {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.elementor-3002 .form-news-container {
	overflow: Scrollbar
}

.elementor-3002 .elementor-element.elementor-element-686c72a .elementor-icon-wrapper {
    text-align: center;
}
.elementor-3002 .elementor-element.elementor-element-686c72a.elementor-view-stacked .elementor-icon {
    background-color: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-686c72a.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-686c72a.elementor-view-default .elementor-icon {
    color: #e0245e;
    border-color: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-686c72a.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-686c72a.elementor-view-default .elementor-icon svg {
    fill: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-686c72a.elementor-view-stacked .elementor-icon:hover {
    background-color: #ffffff;
    color: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-686c72a.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-686c72a.elementor-view-default .elementor-icon:hover {
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-686c72a.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-686c72a.elementor-view-default .elementor-icon:hover svg {
    fill: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-686c72a.elementor-view-framed .elementor-icon:hover {
    background-color: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-686c72a.elementor-view-stacked .elementor-icon:hover svg {
    fill: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-686c72a .elementor-icon {
    font-size: 20px;
}
.elementor-3002 .elementor-element.elementor-element-686c72a .elementor-icon i,
.elementor-3002 .elementor-element.elementor-element-686c72a .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-3002 .elementor-element.elementor-element-686c72a > .elementor-widget-container {
    margin: 13px 13px 13px 13px;
}
.elementor-3002 .elementor-element.elementor-element-686c72a {
    width: auto;
    max-width: auto;
}

.elementor-3002 .elementor-element.elementor-element-e0ada78 .elementor-icon-wrapper {
    text-align: center;
}
.elementor-3002 .elementor-element.elementor-element-e0ada78.elementor-view-stacked .elementor-icon {
    background-color: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-e0ada78.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-e0ada78.elementor-view-default .elementor-icon {
    color: #e0245e;
    border-color: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-e0ada78.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-e0ada78.elementor-view-default .elementor-icon svg {
    fill: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-e0ada78.elementor-view-stacked .elementor-icon:hover {
    background-color: #ffffff;
    color: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-e0ada78.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-e0ada78.elementor-view-default .elementor-icon:hover {
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-e0ada78.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-e0ada78.elementor-view-default .elementor-icon:hover svg {
    fill: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-e0ada78.elementor-view-framed .elementor-icon:hover {
    background-color: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-e0ada78.elementor-view-stacked .elementor-icon:hover svg {
    fill: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-e0ada78 .elementor-icon {
    font-size: 20px;
}
.elementor-3002 .elementor-element.elementor-element-e0ada78 .elementor-icon i,
.elementor-3002 .elementor-element.elementor-element-e0ada78 .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-3002 .elementor-element.elementor-element-e0ada78 > .elementor-widget-container {
    margin: 13px 13px 13px 13px;
}
.elementor-3002 .elementor-element.elementor-element-e0ada78 {
    width: auto;
    max-width: auto;
}
.elementor-3002 .elementor-element.elementor-element-04b838a .elementor-icon-wrapper {
    text-align: center;
}
.elementor-3002 .elementor-element.elementor-element-04b838a.elementor-view-stacked .elementor-icon {
    background-color: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-04b838a.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-04b838a.elementor-view-default .elementor-icon {
    color: #e0245e;
    border-color: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-04b838a.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-04b838a.elementor-view-default .elementor-icon svg {
    fill: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-04b838a.elementor-view-stacked .elementor-icon:hover {
    background-color: #ffffff;
    color: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-04b838a.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-04b838a.elementor-view-default .elementor-icon:hover {
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-04b838a.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-04b838a.elementor-view-default .elementor-icon:hover svg {
    fill: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-04b838a.elementor-view-framed .elementor-icon:hover {
    background-color: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-04b838a.elementor-view-stacked .elementor-icon:hover svg {
    fill: #e0245e;
}
.elementor-3002 .elementor-element.elementor-element-04b838a .elementor-icon {
    font-size: 20px;
}
.elementor-3002 .elementor-element.elementor-element-04b838a .elementor-icon i,
.elementor-3002 .elementor-element.elementor-element-04b838a .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-3002 .elementor-element.elementor-element-04b838a > .elementor-widget-container {
    margin: 13px 13px 13px 13px;
}
.elementor-3002 .elementor-element.elementor-element-04b838a {
    width: auto;
    max-width: auto;
}
.elementor-3002 .elementor-element.elementor-element-8c038dc .elementor-icon-wrapper {
    text-align: center;
}
.elementor-3002 .elementor-element.elementor-element-8c038dc.elementor-view-stacked .elementor-icon {
    background-color: #ec6f01;
}
.elementor-3002 .elementor-element.elementor-element-8c038dc.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-8c038dc.elementor-view-default .elementor-icon {
    color: #ec6f01;
    border-color: #ec6f01;
}
.elementor-3002 .elementor-element.elementor-element-8c038dc.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-8c038dc.elementor-view-default .elementor-icon svg {
    fill: #ec6f01;
}
.elementor-3002 .elementor-element.elementor-element-8c038dc.elementor-view-stacked .elementor-icon:hover {
    background-color: #ffffff;
    color: #e66e03;
}
.elementor-3002 .elementor-element.elementor-element-8c038dc.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-8c038dc.elementor-view-default .elementor-icon:hover {
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-8c038dc.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-8c038dc.elementor-view-default .elementor-icon:hover svg {
    fill: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-8c038dc.elementor-view-framed .elementor-icon:hover {
    background-color: #e66e03;
}
.elementor-3002 .elementor-element.elementor-element-8c038dc.elementor-view-stacked .elementor-icon:hover svg {
    fill: #e66e03;
}
.elementor-3002 .elementor-element.elementor-element-8c038dc .elementor-icon {
    font-size: 20px;
}
.elementor-3002 .elementor-element.elementor-element-8c038dc .elementor-icon i,
.elementor-3002 .elementor-element.elementor-element-8c038dc .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-3002 .elementor-element.elementor-element-8c038dc > .elementor-widget-container {
    margin: 13px 13px 13px 13px;
}
.elementor-3002 .elementor-element.elementor-element-8c038dc {
    width: auto;
    max-width: auto;
}
.elementor-3002 .elementor-element.elementor-element-ff5f4f0 .elementor-icon-wrapper {
    text-align: center;
}
.elementor-3002 .elementor-element.elementor-element-ff5f4f0.elementor-view-stacked .elementor-icon {
    background-color: #02b4b8;
}
.elementor-3002 .elementor-element.elementor-element-ff5f4f0.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-ff5f4f0.elementor-view-default .elementor-icon {
    color: #02b4b8;
    border-color: #02b4b8;
}
.elementor-3002 .elementor-element.elementor-element-ff5f4f0.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-ff5f4f0.elementor-view-default .elementor-icon svg {
    fill: #02b4b8;
}
.elementor-3002 .elementor-element.elementor-element-ff5f4f0.elementor-view-stacked .elementor-icon:hover {
    background-color: #ffffff;
    color: #01a3ad;
}
.elementor-3002 .elementor-element.elementor-element-ff5f4f0.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-ff5f4f0.elementor-view-default .elementor-icon:hover {
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-ff5f4f0.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-ff5f4f0.elementor-view-default .elementor-icon:hover svg {
    fill: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-ff5f4f0.elementor-view-framed .elementor-icon:hover {
    background-color: #01a3ad;
}
.elementor-3002 .elementor-element.elementor-element-ff5f4f0.elementor-view-stacked .elementor-icon:hover svg {
    fill: #01a3ad;
}
.elementor-3002 .elementor-element.elementor-element-ff5f4f0 .elementor-icon {
    font-size: 20px;
}
.elementor-3002 .elementor-element.elementor-element-ff5f4f0 .elementor-icon i,
.elementor-3002 .elementor-element.elementor-element-ff5f4f0 .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-3002 .elementor-element.elementor-element-ff5f4f0 > .elementor-widget-container {
    margin: 13px 13px 13px 13px;
}
.elementor-3002 .elementor-element.elementor-element-ff5f4f0 {
    width: auto;
    max-width: auto;
	display: flex;
    justify-content: flex-end;
}

.elementor-3002 .elementor-element.elementor-element-fe9ba3b:not(.elementor-motion-effects-element-type-background),
.elementor-3002 .elementor-element.elementor-element-fe9ba3b > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(100deg, #01426a 0%, #2694a3 100%);
}
.elementor-3002 .elementor-element.elementor-element-fe9ba3b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-3002 .elementor-element.elementor-element-fe9ba3b > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget .elementor-3002 .elementor-element.elementor-element-cec69d4.elementor-column .elementor-column-wrap {
    align-items: center;
}
.elementor-3002 .elementor-element.elementor-element-cec69d4.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-3002 .elementor-element.elementor-element-cec69d4.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: flex-start;
}
.elementor-3002 .elementor-element.elementor-element-bcde4fc {
    text-align: left;
}
.elementor-3002 .elementor-element.elementor-element-bcde4fc img {
    width: 36%;
}
.elementor-bc-flex-widget .elementor-3002 .elementor-element.elementor-element-9b8da3e.elementor-column .elementor-column-wrap {
    align-items: center;
}
.elementor-3002 .elementor-element.elementor-element-9b8da3e.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-3002 .elementor-element.elementor-element-9b8da3e.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: flex-end;
}
.elementor-3002 .elementor-element.elementor-element-9b8da3e > .elementor-element-populated {
    margin: 19px 19px 19px 19px;
    --e-column-margin-right: 19px;
    --e-column-margin-left: 19px;
}
.elementor-3002 .elementor-element.elementor-element-b6118fa .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon {
    font-size: 25px;
    margin-left: 0px;
    color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-b6118fa .eael-adv-accordion .eael-accordion-list {
    margin-bottom: 9px;
}
.elementor-3002 .elementor-element.elementor-element-b6118fa .eael-adv-accordion .eael-accordion-list .eael-accordion-header {
    padding: 11px 11px 11px 11px;
    background-color: #005e7b00;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 51px 51px 51px 51px;
}
.elementor-3002 .elementor-element.elementor-element-b6118fa .eael-adv-accordion .eael-accordion-list .eael-accordion-header .eael-accordion-tab-title {
    color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-b6118fa .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon-svg svg {
    color: #ffffff;
    fill: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-b6118fa .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover {
    background-color: #c30051;
}
.elementor-3002 .elementor-element.elementor-element-b6118fa .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .eael-accordion-tab-title {
    color: #fff;
}
.elementor-3002 .elementor-element.elementor-element-b6118fa .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .fa-accordion-icon {
    color: #fff;
}
.elementor-3002 .elementor-element.elementor-element-b6118fa .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .fa-accordion-icon svg {
    color: #fff;
    fill: #fff;
}
.elementor-3002 .elementor-element.elementor-element-b6118fa .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active {
    background-color: #0067a2;
    color: #fff;
}
.elementor-3002 .elementor-element.elementor-element-b6118fa .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .eael-accordion-tab-title {
    color: #fff;
}
.elementor-3002 .elementor-element.elementor-element-b6118fa .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-accordion-icon {
    color: #fff;
}
.elementor-3002 .elementor-element.elementor-element-b6118fa .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-accordion-icon svg {
    color: #fff;
    fill: #fff;
}
.elementor-3002 .elementor-element.elementor-element-b6118fa .eael-adv-accordion .eael-accordion-list .eael-accordion-content {
    background-color: #d2d2d2;
    color: #333;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.elementor-3002 .elementor-element.elementor-element-b6118fa > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-3002 .elementor-element.elementor-element-b6118fa {
    width: auto;
    max-width: auto;
    align-self: center;
}
.elementor-3002 .elementor-element.elementor-element-9385a5c > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}
.elementor-3002 .elementor-element.elementor-element-9385a5c:not(.elementor-motion-effects-element-type-background),
.elementor-3002 .elementor-element.elementor-element-9385a5c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #e1e1e1;
}
.elementor-3002 .elementor-element.elementor-element-9385a5c > .elementor-background-overlay {
    opacity: 0.69;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3002 .elementor-element.elementor-element-9385a5c {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.81) inset;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 500px 0px;
}
.elementor-bc-flex-widget .elementor-3002 .elementor-element.elementor-element-15090a3.elementor-column .elementor-column-wrap {
    align-items: flex-start;
}
.elementor-3002 .elementor-element.elementor-element-15090a3.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: flex-start;
    align-items: flex-start;
}
.elementor-3002 .elementor-element.elementor-element-15090a3.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: center;
}
.elementor-3002
    .elementor-element.elementor-element-15090a3
    > .elementor-column-wrap
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}
.elementor-3002 .elementor-element.elementor-element-15090a3 > .elementor-element-populated {
    margin: 20px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-advance-tabs .eael-tabs-nav > ul li i {
    font-size: 25px;
    color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-advance-tabs .eael-tabs-nav > ul li img {
    width: 25px;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-advance-tabs .eael-tabs-nav > ul li svg {
    width: 25px;
    height: auto;
    fill: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-tab-inline-icon li span.title-before-icon {
    margin-right: 10px;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-tab-inline-icon li span.title-after-icon {
    margin-left: 10px;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-tab-top-icon li i,
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-tab-top-icon li img,
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-tab-top-icon li svg {
    margin-bottom: 10px;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-advance-tabs .eael-tabs-nav > ul li {
    background-color: #2694a3;
    color: #ffffff;
    border-radius: 0px 0px 0px 0px;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-advance-tabs .eael-tabs-nav > ul li:hover {
    background-color: #c30051;
    color: #fff;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-advance-tabs .eael-tabs-nav > ul li:hover > i {
    color: #fff;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-advance-tabs .eael-tabs-nav > ul li:hover > svg {
    fill: #fff;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-advance-tabs .eael-tabs-nav > ul li.active {
    background-color: #c30051;
    color: #fff;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-advance-tabs .eael-tabs-nav > ul li.active > i {
    color: #fff;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-advance-tabs .eael-tabs-nav > ul li.active > svg {
    fill: #fff;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-advance-tabs .eael-tabs-content > div {
    color: #333;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-advance-tabs .eael-tabs-nav > ul li:after {
    border-width: 10px;
    bottom: -10px;
    border-top-color: #444;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-advance-tabs.eael-tabs-vertical > .eael-tabs-nav > ul li:after {
    right: -10px;
    top: calc(50% - 10px) !important;
    border-top-color: transparent;
    border-left-color: #444;
}
.rtl .elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-advance-tabs.eael-tabs-vertical > .eael-tabs-nav > ul li:after {
    right: auto;
    left: -10px !important;
    top: calc(50% - 10px) !important;
}
.elementor-3002 .elementor-element.elementor-element-e9ac557 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}
.elementor-3002 .elementor-element.elementor-element-2f85a2ba .elementor-icon-wrapper {
    text-align: center;
}
.elementor-3002 .elementor-element.elementor-element-2f85a2ba.elementor-view-stacked .elementor-icon {
    background-color: #006dc3;
}
.elementor-3002 .elementor-element.elementor-element-2f85a2ba.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-2f85a2ba.elementor-view-default .elementor-icon {
    color: #006dc3;
    border-color: #006dc3;
}
.elementor-3002 .elementor-element.elementor-element-2f85a2ba.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-2f85a2ba.elementor-view-default .elementor-icon svg {
    fill: #006dc3;
}
.elementor-3002 .elementor-element.elementor-element-2f85a2ba.elementor-view-stacked .elementor-icon:hover {
    background-color: #e1e1e1;
    color: #c30051;
}
.elementor-3002 .elementor-element.elementor-element-2f85a2ba.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-2f85a2ba.elementor-view-default .elementor-icon:hover {
    color: #e1e1e1;
    border-color: #e1e1e1;
}
.elementor-3002 .elementor-element.elementor-element-2f85a2ba.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-2f85a2ba.elementor-view-default .elementor-icon:hover svg {
    fill: #e1e1e1;
}
.elementor-3002 .elementor-element.elementor-element-2f85a2ba.elementor-view-framed .elementor-icon:hover {
    background-color: #c30051;
}
.elementor-3002 .elementor-element.elementor-element-2f85a2ba.elementor-view-stacked .elementor-icon:hover svg {
    fill: #c30051;
}
.elementor-3002 .elementor-element.elementor-element-2f85a2ba .elementor-icon {
    font-size: 16px;
}
.elementor-3002 .elementor-element.elementor-element-2f85a2ba .elementor-icon i,
.elementor-3002 .elementor-element.elementor-element-2f85a2ba .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-3002 .elementor-element.elementor-element-2f85a2ba {
    width: 8%;
    max-width: 8%;
}
.elementor-3002 .elementor-element.elementor-element-36c69a4 {
    text-align: center;
    width: auto;
    max-width: auto;
    align-self: center;
}
.elementor-3002 .elementor-element.elementor-element-36c69a4 .elementor-heading-title {
    color: #035292;
    font-family: "Tahoma", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}
.elementor-3002 .elementor-element.elementor-element-259d1aa7 .elementor-icon-wrapper {
    text-align: center;
}
.elementor-3002 .elementor-element.elementor-element-259d1aa7.elementor-view-stacked .elementor-icon {
    background-color: #0364b1;
}
.elementor-3002 .elementor-element.elementor-element-259d1aa7.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-259d1aa7.elementor-view-default .elementor-icon {
    color: #0364b1;
    border-color: #0364b1;
}
.elementor-3002 .elementor-element.elementor-element-259d1aa7.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-259d1aa7.elementor-view-default .elementor-icon svg {
    fill: #0364b1;
}
.elementor-3002 .elementor-element.elementor-element-259d1aa7.elementor-view-stacked .elementor-icon:hover {
    background-color: #e1e1e1;
    color: #c30051;
}
.elementor-3002 .elementor-element.elementor-element-259d1aa7.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-259d1aa7.elementor-view-default .elementor-icon:hover {
    color: #e1e1e1;
    border-color: #e1e1e1;
}
.elementor-3002 .elementor-element.elementor-element-259d1aa7.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-259d1aa7.elementor-view-default .elementor-icon:hover svg {
    fill: #e1e1e1;
}
.elementor-3002 .elementor-element.elementor-element-259d1aa7.elementor-view-framed .elementor-icon:hover {
    background-color: #c30051;
}
.elementor-3002 .elementor-element.elementor-element-259d1aa7.elementor-view-stacked .elementor-icon:hover svg {
    fill: #c30051;
}
.elementor-3002 .elementor-element.elementor-element-259d1aa7 .elementor-icon {
    font-size: 16px;
}
.elementor-3002 .elementor-element.elementor-element-259d1aa7 .elementor-icon i,
.elementor-3002 .elementor-element.elementor-element-259d1aa7 .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-3002 .elementor-element.elementor-element-259d1aa7 > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
}
.elementor-3002 .elementor-element.elementor-element-259d1aa7 {
    width: 8%;
    max-width: 8%;
}
.elementor-3002 .elementor-element.elementor-element-13bf636 > .elementor-container {
    min-height: 100px;
}
.elementor-3002 .elementor-element.elementor-element-13bf636:not(.elementor-motion-effects-element-type-background),
.elementor-3002 .elementor-element.elementor-element-13bf636 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(100deg, #01426a 0%, #2694a3 100%);
	bottom: 0px;
	position: fixed;
}
.elementor-3002 .elementor-element.elementor-element-13bf636 {
    box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-3002 .elementor-element.elementor-element-13bf636 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget .elementor-3002 .elementor-element.elementor-element-4029b3f.elementor-column .elementor-column-wrap {
    align-items: center;
}
.elementor-3002 .elementor-element.elementor-element-4029b3f.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-3002 .elementor-element.elementor-element-4029b3f.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: flex-start;
}
.elementor-3002 .elementor-element.elementor-element-767f0c5 .elementor-icon-wrapper {
    text-align: center;
}
.elementor-3002 .elementor-element.elementor-element-767f0c5.elementor-view-stacked .elementor-icon {
    background-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-767f0c5.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-767f0c5.elementor-view-default .elementor-icon {
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-767f0c5.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-767f0c5.elementor-view-default .elementor-icon svg {
    fill: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-767f0c5.elementor-view-stacked .elementor-icon:hover {
    background-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-767f0c5.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-767f0c5.elementor-view-default .elementor-icon:hover {
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-767f0c5.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-767f0c5.elementor-view-default .elementor-icon:hover svg {
    fill: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-767f0c5 .elementor-icon {
    font-size: 35px;
}
.elementor-3002 .elementor-element.elementor-element-767f0c5 .elementor-icon i,
.elementor-3002 .elementor-element.elementor-element-767f0c5 .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-bc-flex-widget .elementor-3002 .elementor-element.elementor-element-5462db6.elementor-column .elementor-column-wrap {
    align-items: center;
}
.elementor-3002 .elementor-element.elementor-element-5462db6.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-3002 .elementor-element.elementor-element-5462db6.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: flex-start;
}
.elementor-3002 .elementor-element.elementor-element-17fef03 .elementor-icon-wrapper {
    text-align: center;
}
.elementor-3002 .elementor-element.elementor-element-17fef03.elementor-view-stacked .elementor-icon {
    background-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-17fef03.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-17fef03.elementor-view-default .elementor-icon {
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-17fef03.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-17fef03.elementor-view-default .elementor-icon svg {
    fill: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-17fef03.elementor-view-stacked .elementor-icon:hover {
    background-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-17fef03.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-17fef03.elementor-view-default .elementor-icon:hover {
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-17fef03.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-17fef03.elementor-view-default .elementor-icon:hover svg {
    fill: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-17fef03 .elementor-icon {
    font-size: 35px;
}
.elementor-3002 .elementor-element.elementor-element-17fef03 .elementor-icon i,
.elementor-3002 .elementor-element.elementor-element-17fef03 .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-bc-flex-widget .elementor-3002 .elementor-element.elementor-element-eb98a3a.elementor-column .elementor-column-wrap {
    align-items: center;
}
.elementor-3002 .elementor-element.elementor-element-eb98a3a.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}
.elementor-3002 .elementor-element.elementor-element-eb98a3a.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
    justify-content: flex-start;
}
.elementor-3002 .elementor-element.elementor-element-2edd558 .elementor-icon-wrapper {
    text-align: center;
}
.elementor-3002 .elementor-element.elementor-element-2edd558.elementor-view-stacked .elementor-icon {
    background-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-2edd558.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-2edd558.elementor-view-default .elementor-icon {
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-2edd558.elementor-view-framed .elementor-icon,
.elementor-3002 .elementor-element.elementor-element-2edd558.elementor-view-default .elementor-icon svg {
    fill: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-2edd558.elementor-view-stacked .elementor-icon:hover {
    background-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-2edd558.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-2edd558.elementor-view-default .elementor-icon:hover {
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-2edd558.elementor-view-framed .elementor-icon:hover,
.elementor-3002 .elementor-element.elementor-element-2edd558.elementor-view-default .elementor-icon:hover svg {
    fill: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-2edd558 .elementor-icon {
    font-size: 35px;
}
.elementor-3002 .elementor-element.elementor-element-2edd558 .elementor-icon i,
.elementor-3002 .elementor-element.elementor-element-2edd558 .elementor-icon svg {
    transform: rotate(0deg);
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon {
    font-size: 25px;
    margin-left: 0px;
    color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f .eael-adv-accordion .eael-accordion-list {
    margin-bottom: 9px;
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f .eael-adv-accordion .eael-accordion-list .eael-accordion-header {
    padding: 18px 8px 18px 18px;
    background-color: #727272;
    border-radius: 51px 51px 51px 51px;
	box-shadow: 0px -2px 10px 0px rgb(0 0 0 / 80%);
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f .eael-adv-accordion .eael-accordion-list .eael-accordion-header .eael-accordion-tab-title {
    color: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon-svg svg {
    color: #ffffff;
    fill: #ffffff;
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover {
    background-color: #c30051;
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .eael-accordion-tab-title {
    color: #fff;
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .fa-accordion-icon {
    color: #fff;
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f .eael-adv-accordion .eael-accordion-list .eael-accordion-header:hover .fa-accordion-icon svg {
    color: #fff;
    fill: #fff;
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active {
    background-color: #0067a2;
    color: #fff;
	height: auto;
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .eael-accordion-tab-title {
    color: #fff;
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-accordion-icon {
    color: #fff;
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f .eael-adv-accordion .eael-accordion-list .eael-accordion-header.active .fa-accordion-icon svg {
    color: #fff;
    fill: #fff;
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f .eael-adv-accordion .eael-accordion-list .eael-accordion-content {
    background-color: #d2d2d2;
    color: #333;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-3002 .elementor-element.elementor-element-a96ef0f {
    width: auto;
    max-width: auto;
    bottom: 115px;
}
body:not(.rtl) .elementor-3002 .elementor-element.elementor-element-a96ef0f {
    right: 15px;
}
body.rtl .elementor-3002 .elementor-element.elementor-element-a96ef0f {
    left: 15px;
}
@media (min-width: 768px) {
    .elementor-3002 .elementor-element.elementor-element-cec69d4 {
        width: 36.463%;
    }
    .elementor-3002 .elementor-element.elementor-element-9b8da3e {
        width: 63.537%;
    }
}
@media (max-width: 1024px) {
    .elementor-3002 .elementor-element.elementor-element-bcde4fc img {
        width: 87%;
    }
    .elementor-3002 .elementor-element.elementor-element-bcde4fc {
        width: initial;
        max-width: initial;
    }
    .elementor-3002 .elementor-element.elementor-element-b6118fa .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon {
        font-size: 20px;
    }
    .elementor-3002 .elementor-element.elementor-element-9385a5c {
        padding: 30px 30px 500px 30px;
    }
    .elementor-3002 .elementor-element.elementor-element-15090a3 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-3002 .elementor-element.elementor-element-a96ef0f .eael-adv-accordion .eael-accordion-list .eael-accordion-header .fa-accordion-icon {
        font-size: 20px;
    }
}
@media (max-width: 767px) {
    .elementor-3002 .elementor-element.elementor-element-bcde4fc img {
        width: 53%;
    }
    .elementor-bc-flex-widget .elementor-3002 .elementor-element.elementor-element-9b8da3e.elementor-column .elementor-column-wrap {
        align-items: center;
    }
    .elementor-3002 .elementor-element.elementor-element-9b8da3e.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
        align-content: center;
        align-items: center;
    }
    .elementor-3002
        .elementor-element.elementor-element-9b8da3e
        > .elementor-column-wrap
        > .elementor-widget-wrap
        > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 0px;
    }
    .elementor-3002 .elementor-element.elementor-element-9b8da3e > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-3002 .elementor-element.elementor-element-9385a5c {
        padding: 30px 0px 500px 0px;
    }
    .elementor-3002 .elementor-element.elementor-element-e9ac557 .eael-advance-tabs .eael-tabs-nav > ul li {
        font-size: 0px;
        padding: 7px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        border-radius: 30px 30px 30px 30px;
    }
    .elementor-3002 .elementor-element.elementor-element-e9ac557 > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }
    .elementor-3002 .elementor-element.elementor-element-2f85a2ba {
        width: 50px;
        max-width: 50px;
    }
    .elementor-3002 .elementor-element.elementor-element-259d1aa7 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    .elementor-3002 .elementor-element.elementor-element-259d1aa7 {
        width: 50px;
        max-width: 50px;
    }
    .elementor-3002 .elementor-element.elementor-element-4029b3f {
        width: 33%;
    }
    .elementor-3002 .elementor-element.elementor-element-767f0c5 {
        width: 333px;
        max-width: 333px;
    }
    .elementor-3002 .elementor-element.elementor-element-5462db6 {
        width: 33%;
    }
    .elementor-3002 .elementor-element.elementor-element-17fef03 {
        width: 333px;
        max-width: 333px;
    }
    .elementor-3002 .elementor-element.elementor-element-eb98a3a {
        width: 33%;
    }
    .elementor-3002 .elementor-element.elementor-element-2edd558 {
        width: 333px;
        max-width: 333px;
    }
}